//верхняя часть
.header {
  padding: 15px 0;
  min-height: 160px;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: $lead;
  color: $minor;
  transition: transform 0.4s ease;
  position: fixed;
  top: 0;
  z-index: 7;
  width: 100%;

  @include media-breakpoint-down(sm) {
    min-height: unset;
    padding: 10px 0 14px;
  }
  &_hidden {
    transform: translateY(-90px);

    @include media-breakpoint-down(sm) {
      transform: translateY(-74px);
    }
  }

  &__topline {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__burger {
    display: none;
    
    @include media-breakpoint-down(sm) {
      display: block;
    }
  }
  &__geo {
    padding-left: 37px;
    position: relative;
    @include media-breakpoint-down(sm) {
      display: none;
    }
    &_mobile {
      display: none;
    }
  }
  &__city {
    position: relative;
    &::before {
      content: "";
      height: 26px;
      width: 18px;
      display: block;
      position: absolute;
      left: -18px;
      top: 4px;
      transform: translate(-100%);
      background: url("../../app/images/icons/geotag.svg") 50% 50% / contain
        no-repeat;
    }
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%) rotate(-180deg);
      transition: transform 0.4s ease;
      right: -15px;
      width: 8px;
      height: 5px;
      background: url("../../app/images/icons/arrow_white.svg") 50% 50% /
        contain no-repeat;
    }
    &_open {
      &::after {
        transform: translateY(-50%) rotate(0deg);
      }
    }
  }
  &__timetable {
    color: #7f7f7f;
    transition: all 0.4s ease;

    &_hidden {
      color: transparent;
      pointer-events: none;
    }
    &:not(.header__timetable_hidden) {
      transition-delay: 0.35s;
    }
  }

  &__drop-down {
    display: none;
    position: absolute;
    max-width: 190px;
    top: 32px;
    left: 37px;
  }
  &__city-list {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    border-left: 2px $minor solid;
  }
  &__city-item {
    line-height: 20px;
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  &__logo {
    width: 160px;
    transform: translateX(-25%);
    @include media-breakpoint-down(md) {
      transform: unset;
    }
    @include media-breakpoint-down(sm) {
      width: 100px;
    }
  }
  &__info {
    display: flex;
    align-items: center;
  }
  &__tel {
    margin-right: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Geometria", sans-serif;

    @include media-breakpoint-down(sm) {
      display: none;
    }

    &_mobile {
      display: none;
    }
  }
  &__call-me {
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 12px;
    &:hover {
      text-decoration: none;
    }
  }
  &__cart {
    width: 40px;
    height: 40px;
    border: 1px $minor solid;
    background: url("../../app/images/icons/bag.svg") 50% 50%/16px 20px
      no-repeat;
    transition: border-color 0.4s ease;
    @include media-breakpoint-down(sm) {
      width: 32px;
      height: 32px;
      background-size: 13px 12px;
    }

    &:hover {
      border-color: $dark;
    }
    &_active {
      position: relative;
      background-image: url("../../app/images/icons/bag_active1.svg");

      &::after {
        content: attr(data-items-count);
        position: absolute;
        top: 56%;
        left: 49%;
        transform: translate(-52%, -50%);
        color: $lead;
        font-weight: 600;
        font-size: 13px;

        @include media-breakpoint-down(sm) {
          font-size: 8px;
          line-height: 8px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -32%);
        }
      }
    }
  }
}

//нижняя часть
.header {
  &__middlebox {
    margin-top: 30px;
  }
  &__middleline {
    display: block;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 12px;
    line-height: 100%;

    @include media-breakpoint-down(sm) {
      display: none;
    }

    &-item {
      padding: 0 20px;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 12px;
      font-family: "Geometria", sans-serif;
      letter-spacing: 2px;
      transition: opacity 0.4s ease;
      flex-shrink: 0;
      &:hover {
        opacity: 0.6;
      }
      @include media-breakpoint-down(md) {
        padding: 0 15px;
      }

      @include media-breakpoint-down(sm) {
        padding: 0;
      }
    }
  }
}

// поиск
.search {
  background-color: $lead;
  padding-bottom: 15px;
  transform: translateY(-1px);
}

.header {
  &__search {
    &-bar {
      margin: 0 auto 0;
      width: 670px;

      @include media-breakpoint-down(sm) {
        margin-top: 0;
        width: 100%;
        padding-bottom: 15px;
      }
    }

    &-line {
      margin-bottom: 24px;
      height: 55px;
      border-bottom: 1px $minor solid;
      position: relative;

      input {
        height: 50px;
        width: 100%;
        padding-left: 66px;
        font-size: 16px;
        color: $dark;
      }
    }

    &-button {
      position: absolute;
      left: 0;
      top: 50%;
      display: block;
      transform: translateY(-50%);
      height: 50px;
      width: 50px;
      background: url("../../app/images/icons/magnifier.svg") 50% 50% / contain
        no-repeat;
      outline: none;
    }

    &-categories {
      margin: 0 -16px -16px 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      @include media-breakpoint-down(sm) {
        margin: 0 -10px 0 0;
        width: 100%;
      }
    }
    &-category {
      padding: 0 18px;
      margin-bottom: 16px;
      height: 22px;
      display: block;
      color: $minor;
      border-right: 1px solid $minor;

      &:hover {
        color: $light;
      }

      &:last-child {
        border-right: none;
      }
    }
  }
}

// бургер
.header {
  @include media-breakpoint-down(sm) {
    &__middlebox {
      display: none;
    }

    &__middleline {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      height: 100%;
      min-height: calc(100vh - 86px);
    }

    &__geo_mobile {
      display: block;
    }
    &__city {
      display: flex;
      align-items: center;
      &::before {
        margin-right: 16px;
        position: static;
        transform: translate(3px, 6px);
      }
    }

    &__timetable {
      padding-left: 34px;
    }
    &__nav {
      margin-top: 32px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      &-item {
        margin-bottom: 24px;
        font-size: 14px;
        &:last-child {
          margin: 0;
        }
      }
    }

    &__tel_mobile {
      margin: auto 0 calc((100vh - 87px) / 100 * 18);
      display: block;
      align-self: center;
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: "Geometria", sans-serif;

      a {
        font-weight: 700;
        letter-spacing: 2px;
      }

      &::before {
        content: "";
        position: absolute;
        top: -24px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $minor;
      }
    }

    &__call-me {
      letter-spacing: 1px;
      flex-shrink: 0;
    }
  }
}

.header__geo_mobile {
  .header__drop-down {
    position: static;
    padding: 16px 0 16px 36px;
  }
}
