* {
  transition: .25s ease;
}

body {
  font-family: "Gotham Pro", sans-serif;
}

img {
  width: 100%;
}

.main {
  margin-top: 75px;
  padding-bottom: 100px;

  min-height: calc(100vh - 145px);
  display: grid;
  overflow: hidden;

  @include media-breakpoint-down(md) {
    min-height: unset;
    overflow: auto;
  }

  @include media-breakpoint-down(sm) {
    margin-top: 50px;
    padding-bottom: 50px;
  }
}

// typography

.h1,
.h2,
.h3,
.h4,
.b1,
.b2,
.b3 {
  font-weight: 300;
}

.h5,
.h6,
.h7 {
  font-weight: 400;
}

.h1 {
  font-size: 48px;
}

.h2 {
  font-size: 31px;
}

.h3 {
  font-size: 27px;
}

.h4 {
  font-size: 19px;
}

.h5 {
  font-size: 15px;
  line-height: 18px;
}

.h6 {
  font-size: 13px;
}

.h7 {
  font-size: 11px;
}

.b1 {
  font-size: 15px;
}

.b2 {
  font-size: 13px;
}

.b3 {
  font-size: 11px;
}

.page-title {
  line-height: 57px;

  @include media-breakpoint-down(sm) {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
  }
}

main.main.dashboard .page-title_redirect .page-title__slider {
  color: #212529;
  transition: .25s ease;

  &:hover {
    color: #888;

    .direct-marker_light {
      opacity: 1;
      margin-left: 10px;
    }

    .direct-marker {
      margin-left: 10px;
    }
  }
}

//
.btn {
  background: none;
  border: none;
  outline: transparent;

  &:active,
  &:focus,
  &:focus-visible {
    outline: transparent;
  }
}

.header,
.footer {
  @include media-breakpoint-down(lg) {
    background-color: orangered;
  }
  @include media-breakpoint-down(md) {
    background-color: rgb(101, 255, 101);
  }
  @include media-breakpoint-down(sm) {
    background-color: lightseagreen;
  }
  @include media-breakpoint-down(xs) {
    background-color: lightblue;
  }
}

.cut-in-mobile {
  display: contents;

  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.section-title {
  margin-bottom: 25px;
  line-height: 37px;

  @include media-breakpoint-down(sm) {
    font-size: 19px;
    line-height: 23px;
  }
}

.section {
  padding: 75px 0 0;

  &:first-child {
    padding: 50px 0 75px;
  }

  &:last-child {
    padding-bottom: 0;
  }

  @include media-breakpoint-down(sm) {
    padding: 50px 0 0;

    &:first-child {
      padding: 25px 0 0;
    }
  }
}

.slick-slide {
  outline: transparent;

  &:active,
  &:focus {
    outline: transparent;
  }
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto {
  @include media-breakpoint-down(md) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto {
  @include media-breakpoint-down(sm) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

body {
  .datepickers-container {
    @include media-breakpoint-down(sm) {
      position: static !important;
    }
  }

  .datepicker {
    @include media-breakpoint-down(sm) {
      transition: unset, opacity 0.25s ease !important;
      left: 50% !important;
      top: 150% !important;
      transform: translate(-50%, -50%) !important;
      visibility: hidden;
      position: fixed !important;
    }

    .datepicker--buttons {
      .datepicker--button {
        display: none !important;
      }

      .c-btn-datepicker {
        padding: 15px;
        height: auto;
        border: 1px solid #EEEEEE;
        font-size: 15px;
        line-height: 18px;
        color: #444444;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin: 0 10px;
        border-radius: 5px;

        &.disabled {
          opacity: .7;
          cursor: not-allowed;
          pointer-events: none;
        }

        &:hover {
          padding: 15px;
          height: auto;
          border: 1px solid #EEEEEE;
          background: #fff;
        }
      }
    }
  }

  .datepicker.active {
    @include media-breakpoint-down(sm) {
      left: 50% !important;
      top: 50% !important;
      transform: translate(-50%, -50%);
      visibility: visible;
    }
  }

  .datepicker--pointer {
    @include media-breakpoint-down(sm) {
      display: none !important;
    }
  }

  .datepicker--nav-title {
    color: $black;

    i {
      color: $black;
    }
  }

  .datepicker--day-name {
    color: $black;
  }

  .datepicker--cell.-current- {
    color: $white;
    background: $primary;

    &:hover {
      color: $white;
    }
  }

  .datepicker--cell.datepicker--cell-day.-current- {
    background: #eee;
    color: #000;
  }
}

.mob-datePicker-bg {
  opacity: .25;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  z-index: 99;
}


.span-file {
  padding: 12px 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px #eee dashed;
  border-radius: 5px;
  overflow: hidden;
  outline: transparent;
  color: #444;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color .4s ease;
  -o-transition: border-color .4s ease;
  transition: border-color .4s ease;
  font-size: 16px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  white-space: normal;
  line-height: 20px;

  @include media-breakpoint-down(sm) {
    font-size: 13px;
    text-align: center;
  }
}

.span-file.loaded {
  border: 1px #eee solid;
}

.input-container input:hover + .span-file.loaded {
  border: 1px $primary solid;
}

.input-container input:hover + .span-file {
  border-color: $primary;
}

.remove-file {
  display: none;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url(/images/icons/exit-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: $bg;
  background-size: 10px;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  right: 17px;

  &:hover {
    background-color: $stroke;
  }
}

.file-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.input-container.input-container-file {
  top: 28px;

  .input-wrp {
    height: auto;
  }
}


.popup-content {
  padding: 50px 30px;
  overflow-y: visible;

  @include media-breakpoint-down(sm) {
    max-height: calc(100vh - 286px);
    overflow-y: scroll;
  }
}

.modal-form {
  margin-top: 30px;
}

.alert-window-text {
  margin-top: 10px;
}

.modal-title {
  margin-bottom: 15px;
  line-height: 37px;

  @include media-breakpoint-down(sm) {
    font-size: 19px;
    line-height: 23px;
  }
}

.modal-text-block {
  line-height: 23px;
  color: $minor;

  @include media-breakpoint-down(sm) {
    font-size: 13px;
    line-height: 19px;
  }
}

.modal-controls {
  margin-top: 50px;
  display: flex;
  justify-content: center;

  .button {
    @include media-breakpoint-down(sm) {
      width: 100%;
      max-width: 100%;
    }
  }

  @include media-breakpoint-down(sm) {
    padding: 15px 30px;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    flex-direction: column;
    background: #fff;
  }
}

.popup-sms-phone {
  color: #444;
  font-weight: 500;
}

.popup {
  .button {
    width: 250px;
    max-width: 100%;

    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
}

.button-modal-help {
  margin-right: 15px;

  @include media-breakpoint-down(sm) {
    margin: 0 0 15px 0;
  }
}

.service-programs-popup.popup {

  .popup-content-c {
    width: auto;
    max-width: unset;
    padding: 30px 30px 70px;
  }

  .slick-dots {
    position: absolute;
    display: flex;
    padding: 0;
    margin: 0;
    top: -36px;
    width: 100%;
    list-style: none;

    li {
      width: 100%;
      outline: none;
      height: 4px;

      button {
        width: 100%;
        border: unset;
        color: transparent;
        background: #F6F6F6;
        height: 4px;
        overflow: hidden;
        outline: none;
      }
    }

    .slick-active {
      button {
        background: #DADADA;
      }
    }
  }
}