body {
  font-family: "Open Sans", sans-serif;
  color: $lead;
  font-size: 13px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content minmax(calc(100vh - 300px), auto) auto;
  min-width: 320px;
  position: relative;

  transition: all .4s ease;

  // @include media-breakpoint-down(xl){
  //   background-color: red;
  // }
  // @include media-breakpoint-down(lg){
  //   background-color: orangered;
  // }
  // @include media-breakpoint-down(md){
  //   background-color: orange;
  // }

  // @include media-breakpoint-down(sm){
  //   background-color: lightgreen;
  // }
  // @include media-breakpoint-down(xs){
  //   background-color: lightblue;
  // }


}
// .col-md-12{
//   border: 2px dashed;
// }


a {
  color: inherit;
  
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

.link {
  font-family: "Geometria", serif;
}

img {
  width: 100%;
}

main {
  grid-row-start: 2;
  grid-row-end: 3;

}
.main__padding {
  transition: all 0.4s ease;
  padding-top: 160px;
  
  @include media-breakpoint-down(sm) {
    padding-top: 70px;
  }


}

.main__padding-catalog {
  transition: all 0.4s ease;
  padding-top: 305px;
  &_active {
    padding-top: 230px;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 222px;
  }
}

button {
  padding: 0;
  margin: 0;
  background: none;
  display: block;
  border: none;
  outline: transparent;
  color: invert($color: #000000);

  &:active,
  &:focus-visible,
  &:focus,
  &:focus-within,
  &:hover {
    outline: transparent;
  }
}

.input-text {
  display: block;
  outline: transparent;
  background: none;
  border: none;
  box-shadow: none;
  -webkit-appearance: none;
  &:active,
  &:hover,
  &:visited,
  &:focus-within,
  &:focus-within,
  &:focus-visible,
  &:focus {
    outline: transparent;
  }
}

.section {
  padding-bottom: 168px;
  overflow-x: hidden;
  


  @include media-breakpoint-down(md) {
    padding-bottom: 100px;
  }
  @include media-breakpoint-down(sm) {
    padding-bottom: 48px;
  }
}

.cart__section {
  padding-top: 75px;
  @include media-breakpoint-down(sm) {
    padding-top: 32px;
  }
}

.section.news {
  padding-top: 168px;
  @include media-breakpoint-down(md) {
    padding-top: 100px;
  }
  @include media-breakpoint-down(sm) {
    padding-top: 48px;
  }
}


// componentsss

.button {
  margin: 0;
  padding: 0;
  height: 48px;
  min-width: 210px;
  display: block;
  border: none;
  outline: transparent;
  font-family: "Geometria", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 2px;
  text-align: center;
  border: 1px transparent solid;
  cursor: pointer;
  transition: all 0.4s ease;
  &:active,
  &:focus,
  &:focus-visible,
  &:focus-within {
    outline: transparent;
  }

  &_white {
    background: $minor;
    color: $lead;

    &:hover {
      background: $lead;
      color: $minor;
      border: 1px $minor solid;
    }
  }

  &_black {
    background: $lead;
    color: $minor;
    &:hover {
      background: $minor;
      color: $lead;
      border: 1px $lead solid;
    }
  }

  &_deactivated {
    background-color: $middle;
    pointer-events: none;
  }

  &-mobile-slide-menu {
    display: none;
    @include media-breakpoint-down(sm) {
      display: block;
      margin-top: auto;
      width: 100%;
    }
  }
}

.button-exit {
  position: absolute;
  width: 16px;
  height: 15px;
  background: 50% 50% / contain no-repeat;

  &_white {
    background-image: url("../../app/images/icons/exit_white.svg");
  }

  &_black {
    background-image: url("../../app/images/icons/exit_black.svg");
  }
}

.burger {
  flex-shrink: 0;
  width: 24px;
  height: 20px;
  display: block;

  &__line {
    height: 2px;
    margin-bottom: 6px;
    width: 100%;
    background-color: $minor;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &_open {
    .burger__line {
      display: none;
    }
    background: url("../../app/images/icons/exit_white.svg") 50% 50% / contain
      no-repeat;
    height: 22px;
  }
}

.block-title {
  margin-bottom: 112px;
  text-align: center;
  display: block;
  color: $lead;
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 40px;
  position: relative;
  font-family: "Geometria", sans-serif;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -32px;
    width: 64px;
    height: 4px;
    background-color: $accent;
  }

  @include media-breakpoint-down(sm) {
    font-size: 18px;
    margin-bottom: 48px;
    
    &::after {
      bottom: -16px;
    }
  }
}

.card__drop-down-item {
  display: none;
}

.blackout {
  width: 100vw;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: $dark;
  z-index: 7;
  opacity: 0;
  pointer-events: none;

  &_active {
    pointer-events: unset;
    display: block;
    opacity: 0.4;
  }
}

