@import "../../scss/_variables.scss";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/utilities";

.main__enterance {
  margin-top: 0;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
  height: calc(100vh - 80px);

  @include media-breakpoint-down(xs) {
    height: auto;
    padding-bottom: 30px;
  }
}

.enterance__main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.enterance__main-content,
.enterance-banner {
  width: 50%;
  height: 100%;
  overflow: hidden;

  @include media-breakpoint-down(sm) {
    overflow: auto;
    height: calc(100vh - 65px);
  }

  @include media-breakpoint-down(xs) {
    height: auto;
  }
}

// left-side
.enterance__main-content {
  @include media-breakpoint-down(sm) {
    width: 100%;
  }
}
.enterance-block {
  //margin: 110px 0 110px;
  padding: 0px 45px;
  //height: 660px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media-breakpoint-down(md) {
    padding: 0 45px;
    margin-top: 100px;
    height: auto;
  }

  @include media-breakpoint-down(xs) {
    margin: 50px 0 25px;
    padding: 0 15px;
  }
}
.enterance-title {
  text-align: center;

  @include media-breakpoint-down(sm) {
    margin-bottom: 15px;
    font-size: 27px;
    line-height: 33px;
  }
}
.enterance-subtitle {
  padding: 0 20%;
  text-align: center;

  @include media-breakpoint-down(md) {
    padding: 0;
  }

  @include media-breakpoint-down(sm) {
    padding: 0 13%;
    font-size: 13px;
    line-height: 19px;
  }

  @include media-breakpoint-down(xs) {
    padding: 0;
  }
}

.enterance-form {
  margin: 50px 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.enterance__submit-button {
  width: 300px;

  @include media-breakpoint-down(xs) {
    width: calc(100% - 30px);
  }
}

.enterance__via-socials {
  margin-top: 50px;
}
.enterance-socials {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}
.enterance__socials-item {
  margin-right: 15px;
  display: block;
  cursor: pointer;
  height: 36px;
  width: 36px;
  background: $bg 50% 50% no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 0.3s ease;

  &::hover {
    background-color: $stroke;
  }

  &:last-child {
    margin-right: 0;
  }
}

.privacy-policy {
  margin: 0 auto;
  display: block;
  width: max-content;
  color: $minor;

  &:hover {
    color: $minor;
    text-decoration: underline;
  }

  @include media-breakpoint-down(xs) {
    bottom: 50px;
  }
}

// right-side

.enterance-banner {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.enterance-slider {
  height: 100%;
  width: 100%;

  .slick-track,
  .slick-list {
    height: 100%;
  }
}

.enter-slide {
  position: relative;
  outline: none;
}

.img-inner {
  width: 100%;
  height: 100%;
  overflow: hidden;

  img {
    height: 100%;
    object-fit: cover;
  }
}
.enterance-slider__dots {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
  display: flex;
  justify-content: center;

  li {
    margin-right: 12px;

    list-style: none;

    &:last-child {
      margin-right: 0;
    }

    button {
      padding: 0;
      margin: 0;
      border-radius: 50%;
      background-color: $primary;
      height: 4px;
      width: 4px;
      outline: none;
      border: none;
      flex-shrink: 0;
      text-indent: -9999px;
      overflow: hidden;
      transition: transform 0.4s ease;
    }

    &.slick-active {
      button {
        transform: scale(3);
      }
    }
  }
}

.enterance-slider__text-container {
  position: absolute;
  bottom: 130px;
  left: 50%;
  transform: translateX(-50%);

  max-width: 580px;
  color: $light-text;
  text-align: center;

  .slide-text {
    margin-top: 15px;
  }
}

.socials-cta {
  color: $minor;

  @include media-breakpoint-down(sm) {
    font-size: 13px;
    line-height: 19px;
  }
}

// register/enterance

.enter-method-container {
  margin: 50px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.enterance-form.register .enterance__input-area .assistive-text,
.enterance-form.sign-in .enterance__input-area .assistive-text {
  text-align: right;
}
// restore

.restore-picture {
  background: 50% 50% / contain no-repeat;
  height: 253px;
  width: 253px;
  @include media-breakpoint-down(xs) {
    width: 180px;
    height: 180px;
  }
}
