.banner {
  border-radius: 5px;
  width: 100%;
  border: 1px $stroke solid;
}

.banner_type-1 {
  text-align: center;

  .banner-pic {
    height: 160px;
    background: 50% 50% / cover;
  }
  .banner-content {
    padding: 30px;
  }
  .banner-title {
    line-height: 33px;
  }
  .banner-description {
    margin-top: 15px;
    line-height: 23px;
    color: $minor;
  }
  .banner-button {
    margin: 20px auto 0;
    max-width: 100%;
  }
}
