.statement {
  border-radius: 5px;
  width: 100%;
  border: 1px $stroke solid;
}

.statement_type-1 {
  text-align: center;

  .statement-pic {
    height: 160px;
    background: 50% 50% / cover;
  }
  .statement-content {
    padding: 30px;
  }
  .statement-title {
    line-height: 33px;
  }
  .statement-description {
    margin-top: 15px;
    line-height: 23px;
    color: $minor;
  }
  .statement-button {
    margin: 20px auto 0;
    max-width: 100%;
  }
}


.statement_type-2{
  padding: 30px;
  width: 100%;
  height: 320px;
  background: 50% 50%/cover;
  

  .statement-head{
    display: flex;
    align-items: center;
  }
  .statement-logo{
    margin-right: 15px;
    height: 48px;
    width: 48px;
    background: 50% 50%/contain no-repeat;
  }

  .statement-of{
    color: $minor;
    line-height: 19px;

    @include media-breakpoint-down(sm){
      font-size: 11px;
      line-height: 16px;
    }
  }
  .statement-name{
    line-height: 33px;

    @include media-breakpoint-down(sm){
      font-size: 19px;
      line-height: 23px;
    }
    
  }
  .statement-description{
    margin-top: 15px;
    color: #444;
    line-height: 23px;

    @include media-breakpoint-down(sm){
      font-size: 13px;
      line-height: 19px;
    }
  }
  .statement-link{
    display: block;
    margin-top: 20px;
    line-height: 18px;
  }
}

.statement_2 .statement-description,
.statement .statement-description {
  max-width: 400px;

  @media(max-width: 767px) {
    padding-right: 30px;
  }
}