button:focus {
  outline: none;
}

.button {
  height: 48px;
  display: block;
  text-align: center;
  padding: 15px 40px;
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  border-radius: 5px;
  min-width: 130px;
  max-width: 100%;
  outline: transparent;
  box-sizing: border-box;
  background-color: $primary;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
  color: $light-text;

  &:hover {
    background-color: $primary-btn-hover;
    color: $light-text;
    text-decoration: none;
  }

  &:active {
    background-color: $primary-btn-active;
    outline: transparent;
  }
  
  &:focus {
    outline: transparent;
  }

  &.disabled {
    background-color: $disabled;
    pointer-events: none;
  }

  @include media-breakpoint-down(sm){
    font-size: 13px;
    line-height: 15px;
  }
}

.button_secondary {
  color: $lead;
  background-color: $light-text;
  border: 1px solid $stroke;
  white-space: nowrap;

  &:hover {
    color: $primary;
    border-color: $primary;
    background-color: $light-text;
  }

  &:active {
    background-color: $primary-btn-active;
    border-color: $primary-btn-active;
    background-color: $light-text;
  }

  &.disabled {
    background-color: $light-text;
    color: $disabled;
    border-color: $disabled;
  }
}

// links

.link {
  color: $primary;
  outline: transparent;

  &:hover {
    color: $primary-btn-hover;
    text-decoration: none;
  }

  &:active {
    color: $primary-btn-active;
  }

  &_disabled {
    color: $disabled;
    pointer-events: none;

    &:hover {
      color: $disabled;
    }
  }
}

.direct-button ,.delete-button{
  padding: 0;
  position: absolute;
  top: 15px;
  right: 15px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: none;
  background: $bg url("/images/icons/direct-arrow.svg") 50% 50%/7px 10px
    no-repeat;

  outline: transparent;
  &:active,
  &:focus {
    outline: transparent;
  }

  &.link {
    background: unset;
    width: auto;
    line-height: 1;
  }
}
.delete-button{
  background-image: url("/images/icons/exit-icon.svg");
  background-size: 10px 10px;
}