.block-with-statements {
  display: flex;

  .main-content-wrp {
    flex-grow: 1;
  }

  .main-content-wrp_two-row {
    display: flex;

    .requests-box {
      flex-direction: column;
      width: 100%;
      height: max-content;
    }
  }

  .statements-wrp {
    margin-left: 60px;
    width: 420px;
    flex-shrink: 0;

    @include media-breakpoint-down(md) {
      display: none;
    }

    .statement{
      margin-bottom: 50px;

      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}
