// lock of position of all)))  with deleteng scroll bar
html {
  // margin-right: calc(-1 * (100vw - 100%));
  overflow-x: hidden;
}

.blackout {
  background-color: black;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.25s ease;

  &_active {
    opacity: 0.25;
    pointer-events: unset;
  }

  &_active-datePicker {
    opacity: 0.25;
    pointer-events: unset;
    z-index: 99;
  }
}

.popup::-webkit-scrollbar {
  width: 0;
}

.popup {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 30;
  transition: opacity 0.25s ease;
  pointer-events: none;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
  padding-top: 100px;
  padding-left: 0;
  padding-right: 0;
  width: unset;

  @include media-breakpoint-down(sm) {
    padding: 0;
  }

  .popup-content-c {
    max-width: 690px;
    width: 690px;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    position: relative;

    @include media-breakpoint-down(sm) {
      max-width: 100%;
      width: 100%;
      border-radius: 0;
    }

    @media(max-width: 767px) {
      padding: 30px 15px;
    }
  }

  &.active {
    pointer-events: unset;
    opacity: 1;
    //top: 0;
    //left: 0;
  }

  @include media-breakpoint-down(sm) {
    max-height: unset;
    opacity: 1;
    width: 100vw;
    height: calc(100vh);
    background: #fff;
    padding: 0;
    border-radius: 0;
    position: fixed;
    top: 100%;
    left: 0;
    transform: unset;
    transition: .5s ease;
    max-width: unset;

    &.active {
      pointer-events: unset;
      opacity: 1;
      top: 0;
      left: 0;
    }
  }
}

.popup__exit-button {
  padding: 0;
  position: absolute;
  right: 30px;
  top: 30px;
  height: 24px;
  width: 24px;
  background: url("/images/icons/exit-icon.svg") 50% 50%/10px 10px
    no-repeat;
  border-radius: 50%;
  background-color: $bg;
  border: none;
  outline: transparent;
  flex-shrink: 0;
  z-index: 100;

  &:active,
  &:focus {
    outline: transparent;
  }

  &:hover {
    background-color: #eee;
  }

  @include media-breakpoint-down(sm) {
    top: 31px;
    right: 17px;
  }
}

.popup-title {
  margin-bottom: 15px;
  padding-right: 35px;
  line-height: 37px;

  @include media-breakpoint-down(sm) {
    margin-bottom: 30px;
    font-size: 19px;
    line-height: 23px;
  }
}

.popup-subtitle {
  margin-top: 20px;
  color: $minor;
  line-height: 23px;

  &:first-child {
    margin-top: 0;
  }

  @include media-breakpoint-down(sm) {
    text-align: center;
  }
}

.modal-ok-button {
  min-width: 250px;
}

.modal-button-mobile {
  @include media-breakpoint-down(sm) {
    position: static;
    bottom: 75px;
    left: 50%;
    //transform: translateX(-50%);
  }
}

.confirmed-modal {
  .popup-title {
    @include media-breakpoint-down(sm) {
      text-align: center;
      padding: 0;
    }
  }
}

@media(max-width: 767px) {
  .popup {
    max-height: none !important;
  }
  .popup .popup-content-c {
    height: 100%;
    padding-bottom: 0;
    max-height: 100%;
    padding-bottom: 145px;
    overflow-y: auto;
    // display: flex;
    // flex-direction: column;

    // & > * {
    //   flex-shrink: 0;
    // }
  }

  .popup-decorative-picture {
    width: 100vw;
    transform: translate(-15px, -30px);
  }

  .popup-content {
    overflow-y: unset;
    //flex-grow: 1;
    padding-bottom: 145px;
    padding-left: 0;
    padding-right: 0;
    max-height: none !important;
  }

  // .find-qr-popup {
  //   .popup-content {
  //     padding-bottom: 170px;
  //   }
  // }

  .qr-scanner-modal {
    .popup-content-c {
      padding: 0;
      font-size: 0;
      line-height: 0;

      .qr-tip {
        display: none;
      }
    }

    .qr-part {
      height: 100%;
      background-color: #000;
    }

    .camera-layout {
      height: 100%; 
    }
    
    #qr-shaded-region {
      border-color: transparent !important;
    }
  }

  #js-video-box {
    min-height: 100%;

    video {
      min-height: 800px;
      object-fit: fill !important;
    }

    &::before {
      content: "QR код расположен на боковой панели корпуса внешнего или внутреннего блока кондиционера";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      max-width: 375px;
      padding: 340px 15px 0;
      transform: translate(-50%, -50%);
      z-index: 100;
      display: none;
      font-size: 13px;
      line-height: 19px;
      color: #fff;
      text-align: center;
      mix-blend-mode: hard-light;
    }
  }

  .qr-scanner-modal.active {
    #js-video-box::before {
      display: block;
    }
  }

  div.modal-controls {
    position: fixed;
    display: none;
    padding-left: 15px;
    padding-right: 15px;

    .button {
      width: 100%;
    }
  }

  .popup.active .modal-controls {
    display: flex;
    flex-direction: column;
  }
}


