.request-modal {
  &__message-block {
    margin-bottom: 25px;
  }

  &__promocode-input {
    margin-bottom: 50px;
  }

  &__message-label {
    font-size: 13px;
    line-height: 19px;
    font-weight: 300;
    color: #888;
    margin-bottom: 5px;
  }

  &__message {
    height: 116px;
    width: 100%;
    border: 1px solid #eee;
    border-radius: 5px;
    resize: none;

    &.error {
      border-color: red;
    }
  }

  &__file {
    margin-bottom: 50px;
  }

  &__btn-block {
    display: flex;
    justify-content: center;
  }

  &__alert-message {
    margin: 10px 0 0;
    font-size: 13px;
    line-height: 19px;
    color: red;
  }

  .modal__title {
    padding-right: 40px;
  }
}

@media(max-width: 767px) {

  .request-modal--promocode {
    .modal__body {
      padding-bottom: 50px;
      display: flex;
  
      form {
        display: flex;
        flex-direction: column;
      }
    }
  
    .request-modal__btn-block {
      margin-top: auto;

      button {
        width: 100%;
      }
    }
  }
}