.requests-box {
  display: flex;
  flex-direction: column-reverse;
  align-items: stretch;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid $stroke;
}

.request-item {
  cursor: pointer;

  @include media-breakpoint-down(sm) {
    font-size: 11px;
    line-height: 13px;
  }
}

.request-date-line {
  padding: 10px 15px;
  color: $minor;
  background-color: $bg;
}
.request-line {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  transition: .25s ease;

  &:hover {
    background-color: #F6F6F6;
  }
}

.request-controls {
  text-align: right;
  margin-left: 15px;
}

.request-status,
.request-device {
  margin-top: 5px;
  color: $minor;

  @include media-breakpoint-down(sm) {
    font-size: 11px;
    line-height: 16px;
  }
}

.request-status.done {
  color: $primary;
}

// modals

.request-detail-modal {
  max-width: 690px;
  cursor: auto;

  .popup-content-c {
    padding: 30px;

    @media(max-width: 767px) {
      padding: 30px 15px;
    }
  }

  @media(max-width: 767px) {
    max-width: none;
  }
}

.request-modal-progress-bar {
  padding: 0 60px;
  margin: 0 0 30px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media(max-width: 767px) {
    padding: 0;
  }
}

.point {
  display: flex;
  align-items: center;
  flex-grow: 1;
  position: relative;

  &:first-child {
    flex-grow: 0;

    .point-dot {
      margin-left: 0;
    }

    .point-line {
      display: none;
    }
    .point-name {
      width: 130px;
      transform: translateX(calc(-50% + 6px));
      text-align: center;
      right: auto;
      left: 0;
    }
  }

  &:nth-child(2) {
    .point-name {
      width: 250px;
      transform: translateX(calc(50% - 12px));
      text-align: center;
    }
  }

  &:last-child {
    .point-dot {
      margin-right: 0;
    }
    .point-name {
      width: 120px;
      transform: translateX(calc(50% - 6px));
      text-align: center;
    }
  }

  @media(max-width: 767px) {

    &:first-child {
      .point-name {
        width: 105px;
        transform: translateX(0);
        text-align: left;
        right: auto;
        left: 0;
      }
    }
  
    &:nth-child(2) {
      .point-name {
        width: 120px;
        text-align: center;
      }
    }
  
    &:last-child {
      .point-name {
        width: 105px;
        transform: translateX(0);
        text-align: right;
      }
    }
  }
}
.point-dot {
  margin: 0 10px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: $stroke;
  flex-shrink: 0;
}
.point-line {
  flex-grow: 1;
  flex-grow: 1;
  width: 1px;
  height: 1px;
  background-color: $stroke;
}
.point-name {
  position: absolute;
  width: 212px;
  top: calc(100% + 13px);
  right: 0;
  transform: translateX(calc(-50% + 22px));
  color: $minor;
}

.point.current {
  .point-name {
    color: $lead;
  }
}

.point.done {
  .point-dot {
    background-color: $primary;
  }
  .point-line {
    background-color: $primary;
  }

  &:not(.current)  .point-dot {
    background-image: url("/images/icons/check.svg");
    border-radius: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.request-detail-modal {
  .product-item {
    padding: 15px;
    width: 100%;
  }
  .product-item-pic {
    width: 80px;
    height: 80px;
  }
  .product-item-info {
    padding: 0;
  }

  .document-item {
    margin: 0 0 15px 0;
    width: 100%;
    max-width: 100%;

    &:last-child {
      margin-bottom: 0;
    }
  }
  .invoice-controller {
    margin-top: 50px;
  }

  & .popup-title {
    margin-bottom: 30px;
  }
}

.request-detail-modal {
  & .product-item {
    width: calc((100% - 20px) / 2);
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
    margin-right: 0;

    &:nth-child(odd) {
      margin-right: 15px;
    }
  }

  &  .product-item-info {
    max-width: calc(100% - 100px);
  }

  & .product-item-pic {
    margin-bottom: 0;
  }

  @media(max-width: 1279px) {
    & .product-item {
      width: 100%;

      &:nth-child(odd) {
        margin-right: 0;
      }
    }

    & .product-item-pic {
      margin-right: 20px;
    }
  }

  @media(max-width: 767px) {
    & .product-item-name {
      max-width: none;
    }
  }
}
