.tariff-plan {
  margin: 50px 0 25px;

  &__title {
    font-size: 31px;
    line-height: 37px;
    font-weight: 300;
    color: #444;
    margin-bottom: 25px;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: calc((100% - 30px) / 2);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.05);
    background-size: cover;
    background-position: center center;

    &--1 {
      background-image: url("../images/tariff-bg-1.jpg");
    }

    &--2 {
      background-image: url("../images/tariff-bg-2.jpg");
    }
  }

  &__item-title {
    font-size: 27px;
    line-height: 33px;
    font-weight: 300;
    color: #444;
    margin: 0 0 15px;
  }

  &__item-desc {
    font-size: 15px;
    line-height: 23px;
    font-weight: 300;
    color: #444;
    margin: auto 0 30px;
  }

  &__item-price {
    font-size: 27px;
    line-height: 33px;
    font-weight: 300;
    color: #444;
    margin: 0 0 30px;

    span {
      font-size: 19px;
      line-height: 23px;
    }
  }

  &__item-link {
    max-width: 217px;
    margin: 0 auto;
  }
}

@media(max-width: 1279px) {
  .tariff-plan {
    &__item {
      width: calc((100% - 15px) / 2);
    }

    &__item-link {
      max-width: none;
      width: 100%;
    }
  }
}

@media(max-width: 767px) {
  .tariff-plan {
    margin-top: 50px;
    
    &__title {
      font-size: 19px;
      line-height: 23px;
      margin: 0 0 15px;
    }

    &__items {
      flex-direction: column;
    }

    &__item {
      width: 100%;

      &:first-child {
        margin-bottom: 15px;
      }
    }

    &__item-title {
      font-size: 19px;
      line-height: 23px;
      margin: 0 0 15px;
    }

    &__item-desc {
      font-size: 13px;
      line-height: 19px;
    }
  }
}